<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>275</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>100</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>100</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>50</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>250</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>150</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>150</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>275</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>275</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>275</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>275</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>250</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>275</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>275</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>275</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://t.cn/Rwp9Oz0</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>200</integer>
	</dict>
</array>
</plist>
